<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nouveau patient</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="card-title h3 mb-4 text-primary">Nouveau patient</h1>
                <form method="post" action="/patient/save" th:object="${newPatient}">
                    <div class="mb-3">
                        <label class="form-label">Nom patient</label>
                        <input type="text" class="form-control" name="nom" th:field="*{nom}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Téléphone</label>
                        <input type="text" class="form-control" name="tel" th:field="*{tel}" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Date naissance</label>
                        <input type="date" class="form-control" name="dateNaissance" th:field="*{dateNaissance}" />
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>