<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Formulaire d'ajout des cliniques</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body class="bg-light">
	<div class="container mt-5">
		<div class="card shadow">
			<div class="card-body">
				<h1 class="card-title h3 mb-4 text-primary">Formulaire d'ajout des cliniques</h1>
				<form method="post" action="/clinique/save" th:object="${newClinique}">
					<div class="mb-3">
						<label class="form-label">Nom clinique</label>
						<input type="text" class="form-control" name="nomClinique" th:field="*{nomClinique}" />
					</div>
					<div class="mb-3">
						<label class="form-label">Adresse</label>
						<input type="text" class="form-control" name="adresse" th:field="*{adresse}" />
					</div>
					<div class="mb-3">
						<label class="form-label">Téléphone</label>
						<input type="text" class="form-control" name="tel" th:field="*{tel}" />
					</div>
					<button type="submit" class="btn btn-primary">Enregistrer</button>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>